.highlight {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: rgba(0, 0, 0, 1);
    position: relative;
    word-wrap: break-word;
}

.blackBg {
    width: 70%;
    height: auto;
    position: absolute;
    max-width: 100%;
}

.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 1.5rem 1.5rem;
    padding-left: 5rem;
    width: 100%;
    position: relative;
    flex-direction: row;
}

.section1Content {
    flex-grow: 0;
    flex: 25%;
    width: 100%;
    line-height: 1.2;

    margin-bottom: 1rem;
}

.section1Content p{
    background: linear-gradient(90deg, #8fffef 25%, #f9f490);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 40px;
    font-weight: 500;
}

.section1 img {
   
    width: 80%;
    vertical-align: middle;
    width: 450px;
}

.section1Img {
    flex: 50% 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.HighlightSection1Footer {
    font-size: 1.5rem;
    line-height: 2rem;
    color: rgba(191,201,204,1);
}

.section3 {
    padding: 100px 1rem;
    margin: 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3Container {
    display: flex;
    justify-content: space-between;
    flex: 50%;
}

.info {
    color: white;
    max-width: 80rem;
    width: 23vw;
}

.info img {
    height: 112px;
    width: 112px;
}
.heading{
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.subheading {
    line-height: 1.75rem;
    color: rgba(142,147,147,1);
    font-size: 1.25rem;
}